<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.dongyang.cs.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".ListActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".MyyogiyoActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".PizzamenuActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".ChickenMenuActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".ChinafoodMenuActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".BunsikMenuActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".HansikMenuActivity"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity android:name=".SushiMenuMenuActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".YasikMenuMenuActivity"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity android:name=".HurideActivity"
            android:parentActivityName=".ChickenMenuActivity">

        </activity>
        <activity android:name="GanjangActivity"
            android:parentActivityName=".ChickenMenuActivity">

        </activity>
        <activity android:name=".GoldoliveActivity"
            android:parentActivityName=".ChickenMenuActivity">

        </activity>

        <activity android:name=".SpicyActivity"
            android:parentActivityName=".ChickenMenuActivity">

        </activity>
        <activity android:name=".BburingcleActivity"
            android:parentActivityName=".ChickenMenuActivity">

        </activity>
        <activity android:name=".GuideActivity"
            android:parentActivityName=".MyyogiyoActivity">

        </activity>
        <activity android:name=".ChangeActivity"
            android:parentActivityName=".MyyogiyoActivity">

        </activity>
        <activity android:name=".MembershipActivity"
            android:parentActivityName=".MyyogiyoActivity">

        </activity>
        <activity android:name=".UsercenterActivity"
            android:parentActivityName=".MyyogiyoActivity">

        </activity>

    </application>

</manifest>